## Settings file was created by plugin Custom Emotes API v1.1.12
## Plugin GUID: com.weliveinasociety.CustomEmotesAPI

[Controls]

## Switch head locking between all emotes, no emotes, or let each emote decide.
# Setting type: RootMotionType
# Default value: Normal
# Acceptable values: Normal, All, None
Camera Lock Settings = Normal

## Emotes "Should" be controlled by Volume SFX as well, but this is a seperate slider if you want a different audio balance.
# Setting type: Single
# Default value: 50
Emotes Volume = 50

## Switch third person settings between emote decides, all on, or all off
# Setting type: ThirdPersonType
# Default value: Normal
# Acceptable values: Normal, All, None
Third Person Settings = Normal

[Misc]

## Hides all join spots when you are performing an animation, this loses some visual clarity but offers a more C I N E M A T I C experience
# Setting type: Boolean
# Default value: false
Hide Join Spots When Animating = false

## If turned on, emotes will alert enemies like other sound sources.
# Setting type: Boolean
# Default value: true
Emotes Alert Enemies = true

## 0: All songs will be normal. 1: All songs will use normal/DMCA friendly depending on the import settings. 2: All songs will be muted if DMCA is listed. 3: All songs will use DMCA friendly versions or none at all
# Setting type: DMCAType
# Default value: Normal
# Acceptable values: Normal, Friendly, Mute, AllOff
DMCA Free Songs = Normal

## If you are locked to a player for an emote (determined by emote mods themselves), you will stop emoting and unlock yourself if the other person stops emoting
# Setting type: Boolean
# Default value: true
Stop Emote When Locked Player Stops Emote = true

[No Touch]

## Json data of emote wheel
# Setting type: String
# Default value: {\"EmoteWheels\":[{\"Name\":\"Wheel 1\",\"IsDefault\":false,\"Emotes\":[\"none\",\"none\",\"none\",\"none\",\"none\",\"none\",\"none\",\"none\"]}]}
Emote Wheel Set Data = {\"EmoteWheels\":[{\"Name\":\"Wheel 1\",\"IsDefault\":false,\"Emotes\":[\"AnkhaZone\",\"BunnyHop\",\"Breakneck\",\"Breakin\",\"BlindingLightsIntro\",\"Bird\",\"BimBamBom\",\"BestMates\"]},{\"Name\":\"Wheel 2\",\"IsDefault\":false,\"Emotes\":[\"PoseBurter\",\"ChugJug\",\"Chika\",\"Cartwheelin\",\"Carson\",\"CaliforniaGirls\",\"ByTheFireLead\",\"Butt\"]},{\"Name\":\"Wheel 3\",\"IsDefault\":false,\"Emotes\":[\"Cirno\",\"DanceTherapyIntro\",\"Dabstand\",\"Crossbounce\",\"CrazyFeet\",\"Crackdown\",\"Crabby\",\"Penguin\"]},{\"Name\":\"Wheel 4\",\"IsDefault\":false,\"Emotes\":[\"DEDEDE\",\"Droop\",\"Dougie\",\"DontStart\",\"Distraction\",\"DevilSpawn\",\"DanceMoves\",\"DeepDab\"]},{\"Name\":\"Wheel 5\",\"IsDefault\":false,\"Emotes\":[\"DuckThisOneIdle\",\"Floss\",\"Float\",\"FlamencoIntro\",\"FancyFeet\",\"FamilyGuyDeath\",\"Extraterrestial\",\"ElectroSwing\"]},{\"Name\":\"Wheel 6\",\"IsDefault\":false,\"Emotes\":[\"Fresh\",\"GGGG\",\"GetDown\",\"GangTorture\",\"GangnamStyle\",\"GalaxyObservatory\",\"FullTilt\",\"Frolic\"]},{\"Name\":\"Wheel 7\",\"IsDefault\":false,\"Emotes\":[\"PoseGinyu\",\"INEEDAMEDICBAG\",\"Hype\",\"Horny\",\"Haruhi\",\"PoseGuldo\",\"Griddy\",\"Goopie\"]},{\"Name\":\"Wheel 8\",\"IsDefault\":false,\"Emotes\":[\"Im a Mystery\",\"KillMeBaby\",\"PoseJeice\",\"JackOPose\",\"ItsDynamite\",\"InfinidabIntro\",\"Infectious\",\"ImDiamond\"]},{\"Name\":\"Wheel 9\",\"IsDefault\":false,\"Emotes\":[\"Yakuza\",\"MoveIt\",\"Miku\",\"Markiplier\",\"MakeItRainIntro\",\"Macarena\",\"LetsDanceBoys\",\"Security\"]},{\"Name\":\"Wheel 10\",\"IsDefault\":false,\"Emotes\":[\"MyWorld\",\"Overdrive\",\"OrangeJustice\",\"OldSchool\",\"OfficerEarl\",\"none\",\"NinjaStyle\",\"NeverGonna\"]},{\"Name\":\"Wheel 11\",\"IsDefault\":false,\"Emotes\":[\"Panda\",\"Real Slim Shady\",\"Smoke\",\"Poyo\",\"PopLock\",\"PhoneItIn\",\"PPmusic\",\"PawsAndClaws\"]},{\"Name\":\"Wheel 12\",\"IsDefault\":false,\"Emotes\":[\"PoseRecoome\",\"SeeTinh\",\"Scenario\",\"Savage\",\"FloorSamus\",\"Rollie\",\"Roflcopter\",\"DesertRivers\"]},{\"Name\":\"Wheel 13\",\"IsDefault\":false,\"Emotes\":[\"Shufflin\",\"Summertime\",\"Stuck\",\"HondaStep\",\"Steady\",\"StarGet\",\"Springy\",\"SpringLoaded\"]},{\"Name\":\"Wheel 14\",\"IsDefault\":false,\"Emotes\":[\"SwayLead\",\"Tidy\",\"Thriller\",\"Thicc\",\"Specialist\",\"TheRobot\",\"Thanos\",\"TakeTheL\"]},{\"Name\":\"Wheel 15\",\"IsDefault\":false,\"Emotes\":[\"Toosie\",\"none\",\"none\",\"Yamcha\",\"Wess\",\"VSWORLD\",\"VirtualInsanityIntro\",\"UGotThat\"]}]}

## Emotes which will not show up when pressing the random emote key, probably don't want to touch this here
# Setting type: String
# Default value: none
Blacklisted emotes = none

